<html>
  <head>
    <title>Orizon | Order details</title>
    <script src="/assets/frontend/orderDetails.js" async></script>
  </head>
  <body>
    <h1>Order n. <%= order._id %></h1>
    <h3>Created at: <%= order.date %></h3>

    <h3>Users:</h3>
    <% for(var i=0; i < order.users.length; i++){ %>
      <li>
        Name: <%= order.users[i].name %> - Surname: <%= order.users[i].surname %>
      </li> 
  <% } %>

    <h3>Products:</h3>
    <% for(var i=0; i < order.rows.length; i++){ %>
      <li>
        Name: <%= order.rows[i].productName %> - Quantity: <%= order.rows[i].quantity %> - Total price: <%= order.rows[i].totalPrice  %>
      </li>
  <% } %>
  </body>
</html>
